.blog_cover {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogs {
    /* border: 2px solid black; */
    width: 250px;
    height: 300px;
    margin: 0px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blogs img {
    border-radius: 7px;
}

.blogs h1 {
    color: #191919;
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 24px;
}

.blogs h3 {
    color: rgb(56, 56, 56);
    margin-top: 10px;
}